doctype html
html(lang="en")
  head
    include layouts/_meta
    link(rel="shortcut icon", href="images/favicon-32x32.png", type="image/png", sizes="32x32")
    title Frontend Mentor | Manage landing page
    include layouts/_styles
  body
    // Header area
    header.text-mobile-center.overflow
      .container
        //- Nav area
        include layouts/_nav

        //- Header Content area
        .header-content.d-mobile-block.center-between-flex
          .image.p-relative
            img(
              src="images/bg-tablet-pattern.svg",
              alt="",
              class="tablet-pattern p-absolute"
            )
            img(
              src="images/illustration-intro.svg",
              alt="",
              class="illustration-intro m-auto"
            )

          .text
            h1 Bring everyone together to build better products.
            p Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.
            button.btn Get Started

    // Why Manage section
    section.why-manage
      .container.d-mobile-block.d-flex.justify-space-between
        div.text-mobile-center.p-relative
          h2 What’s different about Manage?
          p Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.
          img(
            src="images/bg-tablet-pattern.svg",
            alt="",
            class="hide d-mobile-block p-absolute"
          )

        div
          - const titles = ["Track company-wide progress", "Advanced built-in reports", "Everything you need in one place"]
          - const paragraphs = ["See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.", "Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.", "Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution."]
          each title, i in titles
            .box
              h4 #[span.num 0#{i+1}] #[span= title]
              p= paragraphs[i]

    // They Said section
    section.they-said.text-center.overflow.p-relative
      h2 What they’ve said?
      include components/_slider
      button.btn Get Started

    script
      include ../js/dist/index.js